table {
  width: 100%;
}

tbody td {
  padding-left: 10px;
  padding-right: 10px;
}

.badge-success {
  background-color: #0d532a;
  color: #91d4a8;
  padding: .1rem 0.4rem;
  border-radius: 1rem;
  white-space: nowrap;
}

table.form tr.form-row {
  display: flex;
  flex-direction: column;
  background: var(--body-bg);
/*  padding-top: 1rem 0;*/
}

table.form tr.form-row td {
/*  padding: 0;*/
}

table.form tr.form-row {
  padding-top: .4rem;
/*  padding-bottom: 0;*/
}

table.form tr.form-row:not(:last-child) {
  border-bottom: 1px solid var(--hairline-color);
}

table.form tr.form-row td {
  border-bottom: unset;
}

form#user-edit div.form-row {
  display: flex;
}

form#user-edit .form-row .field-container {
  display: flex;
  flex-direction: column;
}

button.link {
  border: none;
  background: none;
  color: var(--link-fg);
  cursor: pointer;
  font-size: 11px;
  padding: 0;
}