.loop-index {
    width: 1%;
    white-space: nowrap;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;
    vertical-align: text-top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.centered-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.centered-brand>img {
    width: auto;
    padding: 0px 14px;
}

/* Hide Pagemenu if no menu to be displayed */
.pagemenu:empty {
    display: none;
}