body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#search-button {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #edf0f6;
    transform: scale(4)
}

#loading {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    transform: scale(2)
}