[buildout]
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
             http://pypi.python.org/simple/distribute
versions = versions
develop = .
parts = test
        checker


[versions]
btrees = 4.4.0
zodb = 5.4.0
zeo = 5.0.4
ZConfig = 3.1.0
zc.buildout = 2.11.3
zc.recipe.egg = 2.0.3
zc.recipe.testrunner = 2.0.0
WebTest = 2.0.29
WebOb = 1.7.1


[test]
recipe = zc.recipe.testrunner
eggs = j01.jsonrpc [test]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/j01/jsonrpc
